#c-reservation-success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 100vh;
  width: 100%;
  background: hsl(0deg 0% 20% / 90%);
  color: #F4CE14;
  border-radius: 16px;

  img.background-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.2) opacity(0.8);
  }

  section {
    color: #FFFFFF;
    background: rgb(84 84 84 / 90%);
    padding: 70px;
    border-radius: 16px;
    z-index: 1;

    .logo-container {
      display: flex;
      padding: 10px;
      justify-content: center;
      background: linear-gradient(45deg, #EDEFEE 90%, #F4CE14 90%);
      border-radius: 16px;
      margin: 0 auto 16px;
    }
  }
}